.previewImg{
    width: 100%;
    height: 100%;
  }
  .previewImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media all and (min-width: 1024px) {
    .preview {
      flex-basis: 190px;
      order:      0;
      margin:     0;
    }
  }