.controls{
    padding: 10px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .actions {
   display: flex;
   flex-flow: row nowrap;
   }
 .actions > * + * {
   margin: 0 0 0 13px;
 }
 
 @media all and (min-width: 1024px) {
   .controls {
     order: 3;
     flex: 0 0;
     margin: 0 0 0 24px;
   }
 
   .actions {
     display: none;
   }
 }
 
 //controls karma
  .karmaCounter > * + *{
    padding: 0 0 0 4px;
  }
 
  .karmaValue{
    color: var(--greyC4)
  }
 
  svg.down{
    transform: rotate(180deg);
  }
 
  @media all and (min-width: 1024px) {
   .karmaCounter {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-flow: column nowrap;
   }
   .karmaCounter > * + * {
     padding: 7px 0 0;
   }
 
   .karmaValue {
     font-size: 14px;
     line-height: 16px;
     color: var(--black);
   }
 }
 
 @media all and (min-width: 1540px) {
   .karmaCounter > button.up:hover > svg > path {
     fill: var(--green);
   }
 
   .karmaCounter > button.down:hover > svg > path {
     fill: var(--orange);
   }
 }
 
 
  //controls comments
 
  .commentsButton{
    display: flex;
    align-items: normal;
  }
 
  .commentsButton * {
    color: var(--greyC4);
  }
 
  .commentsNumber{
    padding: 0 0 0 6px;
    font-size: 12px;
    line-height: 14px;
  }
 
  @media all and (min-width: 1024px) {
   .commentsButton {
     display: none;
   }
 }
 
  // share and save buttons
 
  .shareButton{
    width: 20px;
    height: 20px;
  }
 
  .saveButton{
    width: 20px;
    height: 20px;
  }